.navbar{
    position: sticky;
    top: 0px;
    height: 70px;
    background-color: black;
    opacity: 0.75;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0px 30px;
    margin-bottom: -50px;
    z-index: 5;
}

.navbar_logo{
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.5rem;

}

.navbar_list{
    display: flex;
    list-style: none;
}

.navbar_item{
    white-space: nowrap;
}

.navbar_link {
    font-size: 0.85rem;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5px;
    margin: 0px 10px;
    border-style: solid;
    border-width: 0px 0px 1px 0px;
    border-color: transparent;
    transition: 250ms;
}

.navbar_link:hover{
    border-color: white;
    transition: 250ms;
}
